<form action="">
    <div>
        <label for="name">Name</label>
        <div class="error" id="name-error" hidden="true">Erreur : le nom n'est pas conforme</div>
        <input data-size="30" id="name" type="text" name="" autocomplete="name" value="Thomasorus" aria-invalid="true"
            aria-describedby="name-info">
        <div class="hint" id="name-info">Par exemple, votre nom de famille et votre prénom</div>

    </div>


    <div>
        <label for="password">Password</label>
        <input data-size="30" id="password" type="password" name="" value="mypassword" required>
    </div>
</form>