<div>
  <pre><code>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis aliquid earum autem magni voluptatem laboriosam, sit velit fugit qui molestiae, cumque, vel labore distinctio ullam nisi tempora harum laborum inventore!
</code></pre>
</div>

<style>
  div {
    padding:1px;
  }
</style>