<div>
    <section role="complementary">
        <details open>
            <summary class="time-row">
                <span class="time-row__title">Chisai is a static site generator written in python</span>
                <span class="time-row__second"> Time spent
                    <span aria-hidden="true">→</span>
                    10 hours
                </span>
            </summary>
            <dl class="time-row-more">
                <dt>
                    Total time
                    <span aria-hidden="true">→</span>
                </dt>   
                <dd>55 hours</dd>

                <dt>
                    Started
                    <span aria-hidden="true">→</span>
                </dt>                
                <dd>Week 3 of 2021</dd>
                <dt>
                    Last update
                    <span aria-hidden="true">→</span>
                </dt>
                <dd>Week 25 of 2021</dd>
            </dl>
            <table>
    <caption>All times entries for this page</caption>
    <thead>
        <tr>
            <th>Year</th>
            <th>Week</th>
            <th>Hours</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>2021</td>
            <td>3</td>
            <td>10</td>
        </tr>
        <tr>
            <td>2021</td>
            <td>4</td>
            <td>6</td>
        </tr>
        <tr>
            <td>2021</td>
            <td>4</td>
            <td>3</td>
        </tr>
        <tr>
            <td>2021</td>
            <td>7</td>
            <td>2</td>
        </tr>
        <tr>
            <td>2021</td>
            <td>8</td>
            <td>4</td>
        </tr>
        <tr>
            <td>2021</td>
            <td>9</td>
            <td>5</td>
        </tr>
        <tr>
            <td>2021</td>
            <td>20</td>
            <td>5</td>
        </tr>
        <tr>
            <td>2021</td>
            <td>21</td>
            <td>15</td>
        </tr>

        
    </tbody>
</table>
        </details>
    </section>
</div>

<style>
    div {
        padding: 10px 0;
    }
</style>