<button>yes</button>
<button>Not long text</button>
<button>Medium long text ah ah</button>
<button>Ok this one is super very long it's abusive</button>
<button data-naked="true">naked</button>
<br><br>

<style>
     button {
        margin:10px;
    }
</style>