---
layout: feedlayout.njk
---
{% macro sitemap(page) %}
{% if page.priv == "false" and page.feed == "true" and page.content != null %}
    <entry>
        <title>{{ page.name }}</title>
        <link href="https://thomasorus.com/{{ page.slug }}.html"/>
        <updated>{{ page.date  | date('ATOM') }}</updated>
        <id>{{ page.slug }}</id>
        <content type="html">{{ page.content }}</content>
    </entry>
{% endif %}
{% if page.children %}
{% for page in page.children %}
    {{ sitemap(page) }}
{% endfor %}
{% endif %}
{% endmacro %}
{%- for page in allContent %}
{{ sitemap(page) }}
{%- endfor %}