---
layout: feedlayout.njk
permalink: "feed.xml"
---
{%- for page in ronbunData %}
{% if page.priv == "false" and page.feed == "true" and page.content != null %}
<entry>
    <title>{{ page.name }}</title>
    <link href="https://thomasorus.com/{{ page.slug }}.html"/>
    <updated>{{ page.generated | dateToRfc3339 }}</updated>
    <id>https://thomasorus.com/{{ page.slug }}.html</id>
    <content type="html">{{ page.content  }}</content>
</entry>
{% endif %}
{%- endfor %}
