html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-variant-numeric: oldstyle-nums;
  font-size: 1.6rem;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 6rem;
}

.content__text p {
  margin: 10px 0;
  font-size: 2rem;
  line-height: 2.2rem;
}

.content__image {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: 70vh;
}

.uppernav {
  position: fixed;
  width: 100%;
  height: 60px;
  overflow: hidden;
  display: flex;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
}

.uppernav__logo {
}

.uppernav__menu {
  margin-left: auto;
}

.entry {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
