<code>Editorial New Regular</code>
<div style="font-family: 'Editorial New Regular'; font-size:20px;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis nemo maiores saepe nihil provident dicta suscipit quibusdam illum veniam, quos voluptatem quae quod aspernatur repellendus et explicabo debitis ut ad?</div>

<br>

<code>Inter Var</code>
<div style="font-family: 'Inter var';">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam possimus unde quidem deserunt sit iste quod, molestias eius veniam? Perferendis recusandae totam qui sit, assumenda debitis quo corrupti numquam accusantium?</div>

<br>

<code>IBM Plex Mono</code>
<div style="font-family: 'IBM Plex Mono';">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam possimus unde quidem deserunt sit iste quod, molestias eius veniam? Perferendis recusandae totam qui sit, assumenda debitis quo corrupti numquam accusantium?</div>
