<table>
    <caption>All times entries for this page</caption>
    <thead>
        <tr>
            <th scope="col">Year</th>
            <th scope="col">Week</th>
            <th scope="col">Hours</th>
        </tr>
    </thead>
    <tbody>
        <tr scope="row">
            <td>2021</td>
            <td>3</td>
            <td>10</td>
        </tr>
        <tr scope="row">
            <td>2021</td>
            <td>4</td>
            <td>6</td>
        </tr>
        <tr scope="row">
            <td>2021</td>
            <td>4</td>
            <td>3</td>
        </tr>
        <tr scope="row">
            <td>2021</td>
            <td>7</td>
            <td>2</td>
        </tr>
        <tr scope="row">
            <td>2021</td>
            <td>8</td>
            <td>4</td>
        </tr>
        <tr scope="row">
            <td>2021</td>
            <td>9</td>
            <td>5</td>
        </tr>
        <tr scope="row">
            <td>2021</td>
            <td>20</td>
            <td>5</td>
        </tr>
        <tr scope="row">
            <td>2021</td>
            <td>21</td>
            <td>15</td>
        </tr>
    </tbody>
</table>