.portfolio-wrapper {
    margin: 0 auto;

    & h1 {
        font-size: var(--title-scale-1);
        margin: 0 !important;
        ;
        padding: 0 !important;
        ;
        /* line-height: 1; */
    }
    h1,
    h2,
    h3,
    h4,
    p,
    dl,
    ul,
    ol {
        max-width: unset;
    }
}

.portfolio-wrapper_subheader {

    font-size: var(--title-scale-3);
    line-height: calc(var(--base-line-height) * 1.2);

    &>span {
        background-color: var(--black);
        color: var(--accent);
        padding-left: 0.5ch;

    }

    &>span span {
        color: var(--background);
        padding-right: 0.2ch;
    }

}

.portfolio-wrapper__headgrid {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    height: 30vh;
    padding: 0 var(--margin-l) 0 var(--margin-l);
}

.portfolio-wrapper__headgrid--text {
    grid-column: 1 / span 2;

}

.portfolio-wrapper__headgrid--image {
    height: 50vh;
    top: 50%;
    position: absolute;
    width: 100%;
    grid-column: 2 / span 2;
    background-color: var(--red);
    transform: translateY(-50%);
    z-index: -1;

    & img {
        height: 100%;
        width: 100%;
        object-fit: cover;
/*        filter: grayscale(1) contrast(1);
        mix-blend-mode: lighten;
*/    }
}

[theme="dark"] .portfolio-wrapper__headgrid--image {
    background-color: var(--border);
}

[theme="light"] .portfolio-wrapper__headgrid--image {
    background-color: var(--black);
}

.portfolio-wrapper__perf-text {
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    font-size: var(--title-scale-4);
    background-color: var(--accent);
    padding: var(--margin-s);
}

.logo-salad {
    display: flex;
    gap: var(--margin-s);
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding:0;

    & svg {
        width: 3ch;
        height: 3ch;
        filter: grayscale(1) contrast(1.2);
        transition: 0.25s;
    }

    & svg:hover {
        filter: grayscale(0) contrast(1);
        transition: 0.25s;
    }
}

[theme="dark"] .portfolio-wrapper__perf-text {
    background-color: var(--background-dark);
}

[theme="dark"] .portfolio-wrapper__tasks {
    --accent: var(--grey-pitchblack);
    --text: var(--white);

    & a {
        color:var(--text);
    }
}
.portfolio-wrapper__tasks {
    display: flex;
    flex-direction: column;
    gap: var(--margin-l);

    & h3 {
        margin-top: 0 !important;
    }

    & section {
        margin-left: auto;
        margin-right: auto;
        max-width: 1440px;
        background-color: var(--accent);
        color: var(--text);
        padding: var(--margin-l);
        width: 100%;
    }

    & img {
        max-height: 60vh;
        width: 100%;
        object-fit: contain;
    }
}

[theme="dark"] .portfolio-wrapper__projects {
    --accent: var(--grey-pitchblack);
    --text: var(--white);

    & a {
        color:var(--text);
    }
}

.portfolio-wrapper__projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--margin-l);

    & h3 {
        margin-top: 0 !important;
    }

    & section {
        background-color: var(--accent);
        padding: var(--margin-s);
    }

    & img {
        max-height: 60vh;
        width: 100%;
        object-fit: contain;
    }
}

.portfolio-wrapper__projects>* {
    flex-grow: 1;
    flex-basis: calc((30rem - 100%) * 999);
}

.portfolio-wrapper__projects> :nth-last-child(n+ 3),
.portfolio-wrapper__projects> :nth-last-child(n+ 3)~* {
    flex-basis: 100%;
}


.portfolio-wrapper__resume {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 0 var(--margin-l);
    margin-top: 0;
}

.portfolio-wrapper__resume dd>ul {
    padding-left: 0;
}

.portfolio-wrapper__writings {
    margin-left: auto;
    margin-right: auto;
    max-width: 60ch;

}

.portfolio-wrapper__contact {
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    text-align: center;
}