{% if (mypage.feed == "true") %}
    <hr>
   <div>
        {% if (mypage.created != "false") %}
        <small><strong>Initially published: </strong>{{ mypage.created | genDates  }}</small><br>
    {%endif%}
    {% if mypage.generated %}
        <small><strong>Modified and/or rebuilt: </strong>{{ mypage.generated | genDates }}</small>
    {%endif%}
    </div>
{%endif%}
