{% if (mypage.feed == "true") %}
    <hr>
   <div>
        {% if (mypage.created != "false") %}
        <small><strong>Initially published: </strong>{{ mypage.created | date }}</small><br>
    {%endif%}
    {% if mypage.generated %}
        <small><strong>Generated: </strong>{{ mypage.generated | date }}</small>
    {%endif%}
    </div>
{%endif%}
