<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title>Thomasorus</title>
    <subtitle>The personal website of Thomasorus</subtitle>
    <link href="https://thomasorus.com/feed.xml" rel="self"/>
    <link href="https://thomasorus.com/"/>
    <updated>{{ now | dateToRfc3339 }}</updated>
    <id>https://thomasorus.com/feed.xml</id>
    <author>
        <name>Thomasorus</name>
        <email>contact@thomasorus.com</email>
    </author>
    {{content | safe}}
</feed>
