<footer class="flow">
    <nav aria-label="Contact links" class="nav--secondary">
        <ul>
            <li>
                <a href="sitemap.html">sitemap</a>
            </li>
            <li>
                <a href="/feed.xml">rss</a>
            </li>
            <li>
                <a href="mailto:contact@thomasorus.com">email</a>
            </li>
            <li>
                <a href="https://twitter.com/thomasorus">twitter</a>
            </li>
            <li>
                <a href='https://webring.xxiivv.com/#random'>webring</a>
            </li>
             <li>
                <a href="https://github.com/thomasorus">github</a>
            </li>
             <li>
                <a href="https://merveilles.town/@thomasorus">mastodon</a>
            </li>
        </ul>
    </nav>
        <div class="accessibility-menu">
            <div class="accessibility-menu__container">
                <span>Design:</span>
                <div class="accessibility-menu__sub">
                    <button data-small="true" data-secondary="true"   class="color-button" aria-label="Use the colored theme" title="Use the colored theme"
                           onclick="changeColors(this)" id="color">
                        color
                    </button>
                    <button data-small="true" data-secondary="true"   class="color-button" aria-label="Use the light theme" title="Use the light theme"
                               onclick="changeColors(this)" id="light">
                        light
                    </button>
                    <button data-small="true" data-secondary="true"   data-secondary="true" class="color-button" aria-label="Use the dark theme" title="Use the dark theme"
                               onclick="changeColors(this)" id="dark">

                        dark
                    </button>
                </div>
            </div>
            <div class="accessibility-menu__container">
                <p>Animations:</p>
                <div class="accessibility-menu__sub">
                    <button data-small="true" data-secondary="true" data-anim="true" aria-label="Enable animations" onclick="changeAnimations(this)" >Enable</button>
                    <button data-small="true" data-secondary="true" data-anim="false"  aria-label="Disable animations" onclick="changeAnimations(this)" >Disable</button>
                </div>
            </div>
        </div>
   
</footer>