<footer class="flow">
    <nav aria-label="Contact links" class="nav--secondary">
        <ul>
            <li>
                <a href="sitemap.html">sitemap</a>
            </li>
            <li>
                <a href="/feed.xml">rss</a>
            </li>
            <li>
                <a href="mailto:contact@thomasorus.com">email</a>
            </li>
            <li>
                <a href="https://twitter.com/thomasorus">twitter</a>
            </li>
            <li>
                <a href='https://webring.xxiivv.com/#random'>webring</a>
            </li>
             <li>
                <a href="https://github.com/thomasorus">github</a>
            </li>
             <li>
                <a href="https://merveilles.town/@thomasorus">mastodon</a>
            </li>
        </ul>
    </nav>
</footer>
