<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <link rel="preload" href="/fonts/Inter-roman.var-subset.woff2" as="font" type="font/woff2" crossorigin="anonymous"/>
        <link rel="preload" href="/fonts/EditorialNew-Regular-subset.woff2" as="font" type="font/woff2" crossorigin="anonymous"/>
        <link rel="preload" href="/fonts/IBMPlexMono-Regular-subset.woff2" as="font" type="font/woff2" crossorigin="anonymous"/>
        <link rel="stylesheet" href="/index.css">
        <title>{{ name }} | Thomasorus</title>
        <meta name="description" content="{{ bref }}">
        <meta property="og:title" content="{{ name }}">
        <meta property="og:type" content="website">
        <meta property="og:description" content="{{ bref }}">
        <meta property="og:site_name" content="Thomasorus's Wiki">
        <meta property="og:url" content="https://thomasorus.com/{{slug}}.html">
        <meta property="og:image" content="https://thomasorus.com/assets/{{category}}.png">
        <meta property="og:image:height" content="500">
        <meta property="og:image:width" content="500">
        <meta property="og:image:type" content="image/png">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@thomasorus">
        <meta name="twitter:title" content="{{ name }}">
        <meta name="twitter:image" content="https://thomasorus.com/assets/{{category}}.png">
        <meta name="twitter:image:alt" content="{{ name }}">
    </head>

    <body theme="color" class="{{ category }}">
        <header>
            <a class="logo"  href="home.html"/>
                <div class="glitch-text" data-text="Thomasorus">
                        thomasorus
                </div>
            </a>
            {% include "nav.njk" %}
        </header>
        {# {%if name != "Portfolio" %}
            {% include "breadcrumb.njk" %}
        {% endif %} #}
        <main>
            {# {%if name != "Portfolio" %} #}
                <article {{ "class='full'" if name == "Time" else "" }}>
                    {%if content%}
                        {{ content | safe }}
                    {% else %}
                        <h1>{{ name }}</h1>
                        <p>This page was generated by the time tracker and has no proper content.</p>
                    {% endif %}
                    {% include "submenu.njk" %}
                    {% include "dates.njk" %}
                </article>
            {# {% else %}
                {% include "portfolio.njk" %}
            {% endif %} #}
        </main>
        {% include "timesection.njk" %}
        {% include "footer.njk" %}
        {% include "patterns.njk" %}
        
        <script src="/index.js" inline></script>

        {% if name == "Feeds"%}
            <script src="/rss.js" inline></script>
        {%endif%}
    </body>
</html>