<nav class="nav--main">
    <ul>
        <li>
            <a href="projects.html">Projects</a>
        </li>
        <li>
            <a href="knowledge.html">Knowledge</a>
        </li>
        <li>
            <a href="portfolio.html">Portfolio</a>
        </li>
        <li>
            <a href="journal.html">Journal</a>
        </li>
        <li>
            <a href="about.html">About</a>
        </li>
        <li>
            <fieldset id="looperGroup" class="color-nav">
              <legend class="visually-hidden">Select color theme</legend>
              <label>
                <span class="visually-hidden">Color</span>
                <input type="radio" name="theme" value="color">
              </label>
              <label>
                  <span class="visually-hidden">Light</span>
                <input type="radio" name="theme" value="light">
              </label>
              <label>
                  <span class="visually-hidden">Dark</span>
                <input type="radio" name="theme" value="dark">
              </label>
            </fieldset>
        </li>
    </ul>
</nav>
