<nav role="navigation" class="nav--main">
    <ul role="list">
        <li>
            <a href="projects.html">Projects</a>
        </li>
        <li>
            <a href="knowledge.html">Knowledge</a>
        </li>
        <li>
            <a href="portfolio.html">Portfolio</a>
        </li>
        <li>
            <a href="journal.html">Journal</a>
        </li>
        <li>
            <a href="about.html">About</a>
        </li>
    </ul>
</nav>