<article class="portfolio-wrapper">
    <div class="portfolio-wrapper__headgrid">
        <div class="portfolio-wrapper__headgrid--text">
            <div>
                <h1>I'm Thomas</h1>
                <p class="portfolio-wrapper_subheader">
                    I code user interfaces for <span>humans<span>.</span></span>
                </p>
            </div>
        </div>
        <div class="portfolio-wrapper__headgrid--image">
            <img src="/assets/photo.jpg" alt="Photo of me" />
        </div>
    </div>
    <div class="portfolio-wrapper__perf-text flow">
        <p>
            I am a <strong>freelance front-end developer</strong> with <strong>8 years of experience</strong>, living by the sea in Brittany, France.
        </p>
        <p>I transform designs and APIs into websites using HTML, CSS, JavaScript and SVGs. I bridge the gap between
            developers and designers when needed. I provide feedback and solutions for accessibility and performance
            issues.</p>
        <p>I have worked on many different stacks: pure SSR MVC frameworks using templates, design systems with Web
            Components, and Single Page Applications using JavaScript meta-framworks.</p>
        <p> If you have trouble making your websites responsive, fast, accessible or visually cohesive, I'm probably
            the right person for the job.</p>
    </div>
    <div style="text-align:center; ">
        <h2 style="margin-bottom: 0 !important;">Résumé</h2>
    </div>
    <div class="portfolio-wrapper__resume">

        <div>
            <h3>Experience</h3>
            <dl>
                <dt>FRONTEND ENGINEER, Iguana Solutions, 2021-2024</dt>
                <dd>
                    <ul>
                        <li>Development of a Single Page Application (SPA), for an in-house startup project.</li>
                        <li>Stack selection and implementation: Svelte, Sveltekit, Typescript, Tailwind CSS, CUBE CSS
                            Methodology</li>
                        <li>UI and UX counselling, UI integration with HTML/CSS/JS in Svelte components</li>
                        <li>Development of custom libraries to interface with AWS services: login with Amplify/Cognito,
                            tracing with Xray, etc.</li>
                        <li>Engineering of the state and data flow of the application using Svelte stores
                            (writable/derived, unidirectionnal data flow)</li>
                        <li>Development of an interactive diagram system (edit, drag and drop, zoom)</li>
                    </ul>
                </dd>
                <dt>DESIGN ENGINEER, Arkéa Banking Group, 2018-2021</dt>
                <dd>
                    <ul>
                        <li>
                            Development of a design system of reusable, accessible, native components that can be used
                            in any
                            JavaScript framework as custom elements.
                        </li>
                        <li>
                            Technical advisor to product owners, designers and marketing.
                        </li>
                        <li>
                            Lead Developer on a complete visual overhaul of an existing banking solution, spread over
                            three
                            technical stacks (Java JSP, Angularjs, VueJS) using the customer's graphic charter.
                        </li>
                    </ul>
                </dd>

                <dt>FULL STACK DEVELOPER, Compte CO2, 2018</dt>
                <dd>
                    <ul>
                        <li>Development of React components, used via Gatsby, GraphQL and a Wordpress backend.</li>
                        <li>Visual redesign and development of email templates, progressive degradation testing.</li>
                        <li>Creation of a PDF document generator with Puppeteer, using Node JS, Express and MongoDB.
                        </li>
                        <li>Organization and reworking of graphic standards, creation of visual aids.</li>
                    </ul>
                </dd>

                <dt>FRONT-END DEVELOPER, Id3i Agency, 2016 - 2018</dt>
                <dd>
                    <ul>
                        <li>Development of responsive websites from templates using HTML, CSS and Jquery.</li>
                        <li>Ongoing development of the company's CMS, audits with customers.</li>
                        <li>Prototyping and design of desktop and mobile applications.</li>
                    </ul>
                </dd>
            </dl>
        </div>
        <div>
            <h3>Education</h3>
            <dl>
                <dt>2019 - In-house courses - Apside Academy</dt>
                <dd>3 days each: VueJS, Angular 8, Typescript.</dd>

                <dt>2015 - Bachelor Professional degree - University of Caen</dt>
                <dd>Web development cursus, 9-month training course, 3-month internship.</dd>

                <dt>2009 - Bachelor of Arts and Media - Caen School of Fine Arts</dt>
                <dd>Communication cursus, 4-years.</dd>
            </dl>
            <h3>Skills & tech stacks</h3>
            <dl>
                <dt>Language</dt>
                <dd>
                    <ul>
                        <li>English: Experienced (C2 level)</li>
                        <li>Spanish: notions</li>
                    </ul>
                </dd>
                <dt>Frontend</dt>
                <dd>
                    <ul>
                        <li>JavaScript: Svelte, Sveltekit, Vue, React</li>
                        <li>CSS: Tailwind, Bootstrap</li>
                        <li>HTML: accessibility, web components</li>
                    </ul>
                </dd>
                <dt>Others</dt>
                <dd>
                    <ul>
                        <li>Programming: notions in Python, GO, Bash for personal projects</li>
                        <li>User Experience: basic knowledge, respect of HTML guidelines</li>
                        <li>Web Design: experienced at expanding an existing design, fixing a lack of cohesion, and
                            design systems</li>
                    </ul>
                </dd>
            </dl>
        </div>

    </div>
    <div style="text-align:center;">
        <h2>Missions details</h2>
    </div>
    <div class="portfolio-wrapper__tasks">
        <section class="flow">
            <h3>Prototyping applications in the cloud</h3>
            <img loading="lazy" src="/img/portfolio-ig1.jpg" alt="Photo of me" />
            <p>
                From 2021 to 2024 I joined the hosting provider Iguana Solutions as a frontend engineer to help build a
                still under NDA project. We worked for several months on different technical prototypes, where my
                missions were to design and implement easy to use drag and drop interfaces ; while also managing the
                application's state through stores, as well as its data flow and user inputs.
            </p>
            <p>
                Following our CTO's request of using only AWS services and our need for velocity, I picked
                Svelte for its ease of use and out of the box
                performances, and built a Single Page Application that ran on AWS Amplify. Along the way, I
                built several libraries to interface with other services like Cognito (Authentification), Xray
                (Tracing), API Gateway, to reuse in our different projects.
            </p>
            <p>
                Our team delivered several working prototypes and, by the end of the project, I implemented a new,
                sleaker design to introduce the project to selected clients and partners.
            </p>
            <p>
                Full story and images are available on demand.
            </p>
        </section>

        <section class="flow">
            <h3>Rethinking the
                engineering and processes of interface creation at Arkea</h3>
            <img loading="lazy" src="/img/cmb1.jpg" alt="Photo of me" />
            <p>
                From 2018 to 2020 I joined the Arkea banking group as a UI engineer to help modernize the technical
                stack and processes. We moved from several intricate SASS codebases to a single library of components,
                flexible enough to support several designs and 100% WCAG compliant.</p>

            <p>As this technical change restricted a very freeform design culture, I volunteered to participate in
                design meetings to help the designers, marketers and product owners understand how to work with a design
                system.</p>

            <p>This team effort resulted in a sharp decline of interface, accessibility and responsive bugs. It reduced
                drastically the cost of making, delivering and testing user interfaces.
            </p>
            <p>
                <a href="/rethinking-the-engineering-and-processes-of-interface-creation-at-arkea.html">Read the full
                    story</a>
            </p>
        </section>

        <section class="flow">
            <h3>Printed letters, smart emails and modern blog stacks at Compte CO2</h3>
            <img loading="lazy" src="/img/co2.jpg" alt="Photo of me" />
            <p>
                When I arrived at Compte CO2, the company was launching new products and needed a total revamp of all
                its frontend styles. With the help of a graphic designer we started a six month marathon, redoing
                everything from the main website to the blog, but also email templates and print styles for printed bank
                documents.</p>

            <p>This short mission was a massive step forward in my career, as I was able to learn a lot about moderm
                JavaScript tooling and frameworks. I self-studied React and NodeJS before starting, and developed my
                first official component library for a client.
            </p>
            <p>All those efforts resulted in a more cohesive vision for the company and a greater understanding of
                modern web development practices for me.
            </p>
            <p>
                <a href="/printed-letters-smart-emails-and-modern-blog-stacks-at-compte-co2.html">Read the full
                    story</a>
            </p>
        </section>
    </div>


    <div style="text-align:center;">
        <h2>Freelance Works</h2>
    </div>
    <div class="portfolio-wrapper__tasks">
        <section class="flow">
            <img loading="lazy" src="/img/portfolio-mf.jpg" alt="Screen capture of the website mensfashioner" />

            <p> The Mens Fashioner crew hired me to help build their long-awaited men's lifestyle ressource, starting
                with the selection of the tech stack up to webdesign and the frontend development. My careful
                implementation of
                their design into tokens and components, combined with the strong wysiwyg editor of <a
                    href="https://getkirby.com/">Kirby CMS</a>, allowed them to compose a personal yet profesional
                looking website.</p>

        </section>
        <section class="flow">
            <img loading="lazy" src="/img/portfolio-imec.jpg" alt="Screen capture of the website IMEC" />
            <p>
                <a href="https://www.imec-archives.com/">IMEC</a> had just finished reworking their website with a
                freelancer and were unhappy with the
                result, which did not look cohesive and did not felt profesional. I reworked the entirety of the
                stylesheets, cleaned and standardized the templates and
                components, and reworked the accessibility.
            </p>
        </section>
        <section class="flow">
            <img loading="lazy" src="/img/portfolio-botoz.jpg" alt="Screen capture of a live show by Gauthier Andres" />
            <p>When freelance journalist Gauthier Andres launched his <a
                    href="https://www.youtube.com/@Gautoz/videos">daily talk show on youtube</a>, he knew he had to
                diffuse it as a podcast. I built BOTOZ using Python, as a command line utility to transcode youtube
                videos into MP3 and XML files. BOTOZ is now a fully automated <a
                    href="https://github.com/Thomasorus/botoz">open source
                    solution</a> running in the background, and has served hundreds of episodes to thousands of
                listeners.</p>
        </section>
        <section class="flow">
            <img loading="lazy" src="/img/portfolio-bgp.jpg" alt="Screen capture of the website Bas Gros Poing" />
            <p>
                Bas Gros Poing is the longest running active website and podcast about fighting games in French
                language. <a href="https://loeil-du-cyclone.com/">Guillaume Brindon</a> redesigned the website under my
                guidance, and I developped the whole frontend. The animations and design elements are inspired by arcade
                cabinets, character select screens, and the nineties esthetics.
            </p>
        </section>
    </div>

    <div style="text-align:center;">
        <h2>Selected writings about web development</h2>
    </div>
    <div class="portfolio-wrapper__writings flow">
        <p>Writing has been a big part of my personal and profesional life. Below are some articles or tutorials I wrote
            about web development.</p>
        <dl>
            <dt><a href="html-tips.html">HTML Tips and tricks</a></dt>
            <dd>A massive and comprehensive guide about HTML good practices, going from accessibility and layout to
                specific elements, written to help friends improve their websites.</dd>
            <dt><a href="css-methodologies.html">CSS Methodologies through history</a></dt>
            <dd>A long form article detailing how good practices around CSS evolved with time, and how different people
                solve the same problem in very different ways.</dd>
        </dl>
    </div>

    <div style="text-align:center;">
        <h2>Get in touch</h2>
    </div>
    <div class="portfolio-wrapper__contact flow">

    <p>Want to work with me? Just send me an email at <em>contact @ thomasorus.com</em> and I'll answer back quickly!</p>
</div>

</article>