<article class="portfolio-wrapper flow">
    <div class="portfolio-wrapper__headgrid">
        <div class="portfolio-wrapper__headgrid--text">
            <div>
                <h1>I'm Thomas</h1>
                <p class="portfolio-wrapper_subheader">
                    I code user interfaces for <span>humans<span>.</span></span>
                </p>
            </div>
        </div>
        <div class="portfolio-wrapper__headgrid--image">
            <img src="/assets/photo.jpg" alt="Photo of me"/>
        </div>
    </div>
    <div class="portfolio-wrapper__perf-text">
        <p>
            I code designs into websites using HTML, CSS, JavaScript and SVGs. I collaborate with teams on design and user experience. If you have trouble making your websites responsive, accessible and cohesive, I'm probably the person you are looking for.
        </p>
    </div>
    <div style="text-align:center;">
        <h2>My skills</h2>
    </div>
    <div class="portfolio-wrapper__tasks">
        <div>
            <h3>Transform designs into code</h3>
            <p>Lorem</p>
        </div>
         <div>
            <h3>Improve Accessibility</h3>
            <p>Lorem</p>
        </div>
         <div>
            <h3>Create design systems</h3>
            <p>Lorem</p>
        </div>
         <div>
            <h3>Title 1</h3>
            <p>Lorem</p>
        </div>
         <div>
            <h3>Title 1</h3>
            <p>Lorem</p>
        </div>
    </div>
</article>