{% if (menu == "true") and (childPages.length > 0) %}
    <div class="subpage-listing">
    {%if name != "Journal" %}
        {% for child in childPages %}
            {% if child.priv == "false" %}
                <h2>{{ child.name }}</h2>
                <p>{{ child.bref }} — <a href="{{ child.slug }}.html">Read more</a></p>
                {% if (menu == "true") and (child.childPages.length > 0) %}
                    <h3>Subpages</h3>
                    <dl>
                        {% for subchild in child.childPages %}
                            {% if subchild.priv == "false" %}
                                <dt><a href="{{ subchild.slug }}.html">{{ subchild.name }}</a></dt>
                                <dd> {{ subchild.bref }}</dd>
                            {% endif %}
                        {% endfor %}
                    </dl>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% else %}
        {% for child in childPages|sort(false, true, 'date')|reverse %}
            {% if child.priv == "false" %}
                <h2> {{ child.name }}</h2>
                <p>{{child.bref}} — <a href="{{ child.slug }}.html">Read more</a></p>
            {% endif %}
        {% endfor %}

    {% endif %}
    </div>
{% endif %}
