.breadcrumb {
    top:0;
    margin: 0 var(--margin-l);
    padding-left: 0;
    background-color: var(--background);
    z-index: 1;
    font-size: var(--base-font-size);
    display: inline;
}


[theme="dark"] .breadcrumb {
    color:var(--accent);
}
