<form action="">
    <div>
        <label for="select">Select</label>
    <select id="select" data-size="30" id="">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
    </select>
    </div>
</form>