/* Box sizing rules */ 
*,
*::before,
*::after {
  box-sizing: border-box;
} 
/* Remove default margin */ 
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
} 
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */ 
ul[role='list'],
ol[role='list'] {
  list-style: none;
} 
/* Set core root defaults */ 
html:focus-within {
  scroll-behavior: smooth;
} 
/* Set core body defaults */ 
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
} 
/* A elements that don't have a class get default styles */ 
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
} 
/* Make images easier to work with */ 
img,
picture {
  max-width: 100%;
  display: block;
} 
/* Inherit fonts for inputs and buttons */ 
input,
button,
textarea,
select {
  font: inherit;
} 
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */ 
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
} 
/* Design tokens */ 
:root {
    --black: #000000;
    --white: #ffffff;

    --grey: #eeeeee;
    --grey-dark: #aaaaaa;
    --grey-darker: #555555;
    --grey-pitchblack: #222222;

    --focus: #666666;

    --yellow: #f2d336;
    --yellow-dark: #dfc130;
    --yellow-darker: #98841f;

    --teal: #70eba7;
    --teal-dark: #5fc88f;
    --teal-darker: #479e6d;

    --pink: #ffadc9;
    --pink-dark: #ff85ad;
    --pink-darker: #d6245f;

    --red: #f37149;
    --red-dark: #dd5d36;
    --red-darker: #c93d13;

    --blue:#9094fe;
    --blue-dark: #767aef;
    --blue-darker: #595fd9;
} 
:root {
    /* Main margin for containers, min: 20px, max: 64px */
    --margin-l: calc(((20 / 16) * 1rem) + (64 - 20) * var(--fluid-bp));
  
    /* Main margin for other things, min: 25, max: 30 */
    --margin-s: calc(((25 / 16) * 1rem) + (30 - 25) * var(--fluid-bp));    
  } 
@media screen and (min-width: 1440px) {
    :root {
      --fluid-screen: calc(var(--fluid-max-width) * 1px);
    }
  } 
:root {
    --text: var(--black);
    --background: var(--white);
    --accent:  var(--grey);
    --background-dark: var(--grey-pitchblack);
    --border: var(--grey-dark);
} 
[theme="light"] {
    --text: var(--black);
    --background: var(--white);
    --accent: var(--grey);
    --background-dark: var(--grey);
    --border: var(--grey-dark);
    background-color: var(--background);
    color: var(--text);
} 
[theme="dark"]{
    --text: var(--white);
    --background: var(--black);
    --accent:  var(--grey);
    --background-dark: var(--grey-pitchblack);
    --border: var(--grey-darker);
    background-color: var(--background);
    color: var(--text);
} 
[theme="color"] .portfolio {
    --text: var(--black);
    --background: var(--red);
    --accent:  var(--white);
    --background-dark: var(--red-dark);
    --border: var(--red-darker);
    background-color: var(--background);
   color: var(--text);
} 
[theme="color"] .projects {
    --text: var(--black);
    --background: var(--teal);
    --accent:  var(--white);
    --background-dark: var(--teal-dark);
    --border: var(--teal-darker);
    background-color: var(--background);
       color: var(--text);
} 
[theme="color"] .journal {
    --text: var(--black);
    --background: var(--yellow);
    --accent:  var(--white);
    --background-dark: var(--yellow-dark);
    --border: var(--yellow-darker);
    background-color: var(--background);
       color: var(--text);
} 
[theme="color"] .knowledge {
    --text: var(--black);
    --background: var(--blue);
    --accent:  var(--white);
    --background-dark: var(--blue-dark);
    --border: var(--blue-darker);
    background-color: var(--background);
       color: var(--text);
} 
[theme="color"] .about {
    --text: var(--black);
    --background: var(--pink);
    --accent:  var(--white);
    --background-dark: var(--pink-dark);
    --border: var(--pink-darker);
    background-color: var(--background);
       color: var(--text);
} 
[theme="color"] .home, 
[theme="color"] .stubs, 
[theme="color"] .sitemap {
    --text: var(--black);
    --background: var(--grey);
    --accent:  var(--white);
    --background-dark: var(--grey-dark);
    --border: var(--grey-darker);
     background-color: var(--background);
    color: var(--text);
} 
@font-face {
    font-family: 'Inter var';
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: 'Regular';
    src: url("03d67f11d4c6bcdd.woff2?v=3.18") format("woff2");
  } 
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url("5c2ff0c81a369e4f.woff2?v=3.18") format("woff2");
} 
@font-face {
    font-family: "Editorial New Regular";
    src: url("d58d53cb25ead483.woff2") format("woff2");
    font-style: Regular;
    font-display: swap;
} 
@font-face {
    font-family: "Editorial New Light";
    src: url("2ef415cb3b1f3c96.woff2") format("woff2");
    font-style: Light;
    font-display: swap;
} 
@font-face {
  font-family: "IBM Plex Mono";
  src: url("11a97c41a08ca9c5.woff2") format("woff2");
  font-style: Light;
  font-display: swap;
} 
@font-face {
  font-family: 'OpenDyslexic Regular';
  src: url("957dea8070ab97fc.woff2") format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} 
@font-face {
  font-family: 'OpenDyslexic Bold';
  src: url('36be0d44d1761708.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
} 
@font-face {
  font-family: 'OpenDyslexic Italic';
  src: url('042bfefbe95e634e.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
} 
@font-face {
  font-family: 'OpenDyslexic';
  src: url('24c5b6d4e04b40f5.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
} 
@font-face {
  font-family: 'OpenDyslexicMono';
  src: url('cb0d9cbed7fd5bd8.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} 
@font-face {
  font-family: 'Atkinson Regular';
  src: url("8a959bfe84a666f4.woff2") format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} 
@font-face {
  font-family: 'Atkinson Bold';
  src: url('a7afb2a2cca79576.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
} 
@font-face {
  font-family: 'Atkinson Italic';
  src: url('e416efa9c1fdd783.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
} 
@font-face {
  font-family: 'Atkinson Bold Italic';
  src: url('264e18781432e05c.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
} 
@font-face {
  font-family: 'Atkinson Mono';
  src: url('8a959bfe84a666f4.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} 
html { font-family: 'Inter', sans-serif; } 
html[font-style="dislexia"] * { font-family: 'OpenDyslexic Regular', sans-serif; } 
html[font-style="atkinson"] * { font-family: 'Atkinson Regular', sans-serif; } 
@supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
} 
/* Open Dyslexic */ 
html[font-style="dislexia"] b, html[font-style="dislexia"] strong, html[font-style="dislexia"] dt{
  font-family: 'OpenDyslexic Bold';
} 
html[font-style="dislexia"] i, html[dislexia] em, html[dislexia] dt {
  font-family: 'OpenDyslexic Italic';
} 
html[font-style="dislexia"] code {
  font-family: 'OpenDyslexicMono';
} 
/* Atkinson */ 
html[font-style="atkinson"] b, html[font-style="atkinson"] strong, html[font-style="atkinson"] dt{
  font-family: 'Atkinson Bold';
} 
html[font-style="atkinson"] i, html[dislexia] em {
  font-family: 'Atkinson Italic';
} 
html[font-style="atkinson"] code {
  font-family: 'Atkinson Mono';
} 
:root {
    --radius-sm: 5px;
    --radius-md: 10px;
} 
.logo {
    position:relative;
    display:flex;
} 
.logo svg {
    transform:translateY(-50%);
} 
.logo strong {
    font-size: 20px;
    text-transform: uppercase;
} 
[theme="dark"] .logo strong {
    color:var(--accent);
} 
@media (prefers-reduced-motion: no-preference) {

  .glitch-text {
    position: relative;
    overflow: hidden;
  }
  .glitch-text::before {
    content: attr(data-text);
    position: absolute;
    top: -2px;
    background: var(--background);
    overflow: hidden;
    -webkit-animation: glitch-2 5s infinite linear;
            animation: glitch-2 5s infinite linear;
  }
  .glitch-text::after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    top: 0;
    background: var(--background);
    overflow: hidden;
    -webkit-animation: glitch 5s infinite linear;
            animation: glitch 5s infinite linear;
  }
} 
@-webkit-keyframes glitch {
  0%, 89% {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
  90% {
    -webkit-clip-path: inset(2% 0 10% 0);
            clip-path: inset(2% 0 10% 0);
  }
  91% {
    -webkit-clip-path: inset(21% 0 15% 0);
            clip-path: inset(21% 0 15% 0);
  }
  92% {
    -webkit-clip-path: inset(44% 0 54% 0);
            clip-path: inset(44% 0 54% 0);
  }
  93% {
    -webkit-clip-path: inset(70% 0 14% 0);
            clip-path: inset(70% 0 14% 0);
  }
  94%, 100% {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
} 
@keyframes glitch {
  0%, 89% {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
  90% {
    -webkit-clip-path: inset(2% 0 10% 0);
            clip-path: inset(2% 0 10% 0);
  }
  91% {
    -webkit-clip-path: inset(21% 0 15% 0);
            clip-path: inset(21% 0 15% 0);
  }
  92% {
    -webkit-clip-path: inset(44% 0 54% 0);
            clip-path: inset(44% 0 54% 0);
  }
  93% {
    -webkit-clip-path: inset(70% 0 14% 0);
            clip-path: inset(70% 0 14% 0);
  }
  94%, 100% {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
} 
@-webkit-keyframes glitch-2 {
  0%, 90% {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
  91% {
    -webkit-clip-path: inset(63% 0 6% 0);
            clip-path: inset(63% 0 6% 0);
  }
  92% {
    -webkit-clip-path: inset(23% 0 20% 0);
            clip-path: inset(23% 0 20% 0);
  }
  93% {
    -webkit-clip-path: inset(36% 0 48% 0);
            clip-path: inset(36% 0 48% 0);
  }
  94%, 100% {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
} 
@keyframes glitch-2 {
  0%, 90% {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
  91% {
    -webkit-clip-path: inset(63% 0 6% 0);
            clip-path: inset(63% 0 6% 0);
  }
  92% {
    -webkit-clip-path: inset(23% 0 20% 0);
            clip-path: inset(23% 0 20% 0);
  }
  93% {
    -webkit-clip-path: inset(36% 0 48% 0);
            clip-path: inset(36% 0 48% 0);
  }
  94%, 100% {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
} 
@media (prefers-reduced-motion: no-preference) {

  @-webkit-keyframes projects-icon__1 {
      0% {
          transform: rotate(0deg);
          transform: skew(0deg);
      }
      89% {
          transform: rotate(0deg);
          transform: skew(0deg);
      }
      90% {
          transform: rotate(4deg);
          transform: skew(-4deg);
      }
      91% {
          transform: rotate(-4deg);
          transform: skew(4deg);
      }
      100% {
          transform: rotate(0deg);
          transform: skew(0deg);
      }
  }

  @keyframes projects-icon__1 {
      0% {
          transform: rotate(0deg);
          transform: skew(0deg);
      }
      89% {
          transform: rotate(0deg);
          transform: skew(0deg);
      }
      90% {
          transform: rotate(4deg);
          transform: skew(-4deg);
      }
      91% {
          transform: rotate(-4deg);
          transform: skew(4deg);
      }
      100% {
          transform: rotate(0deg);
          transform: skew(0deg);
      }
  }

  .projects-icon__1 {
      -webkit-animation: projects-icon__1 8s  linear infinite;
              animation: projects-icon__1 8s  linear infinite;
      transform-origin: 40% 30%;
  }

  @-webkit-keyframes projects-icon__2 {
      0% {
          transform: rotate(0deg);
          transform: skew(0deg);
      }

      89% {
          transform: rotate(0deg);
          transform: skew(0deg);
      }

      90% {
          transform: rotate(4deg);
          transform: skew(-4deg);
      }

      91% {
          transform: rotate(-4deg);
          transform: skew(4deg);
      }

      100% {
          transform: rotate(0deg);
          transform: skew(0deg);
      }
  }

  @keyframes projects-icon__2 {
      0% {
          transform: rotate(0deg);
          transform: skew(0deg);
      }

      89% {
          transform: rotate(0deg);
          transform: skew(0deg);
      }

      90% {
          transform: rotate(4deg);
          transform: skew(-4deg);
      }

      91% {
          transform: rotate(-4deg);
          transform: skew(4deg);
      }

      100% {
          transform: rotate(0deg);
          transform: skew(0deg);
      }
  }

  .projects-icon__2 {
      -webkit-animation: projects-icon__2 7s  linear infinite;
              animation: projects-icon__2 7s  linear infinite;
      transform-origin: 40% 30%;
  }


  @-webkit-keyframes projects-icon__3 {
    0% {
        transform: translate(0, 0);
    }

    90% {
        transform: translate(60px, 60px);
    }

    92% {
        transform: translate(-10px, -10px);
    }

    100% {
        transform: translate(0, 0);
    }
  }


  @keyframes projects-icon__3 {
    0% {
        transform: translate(0, 0);
    }

    90% {
        transform: translate(60px, 60px);
    }

    92% {
        transform: translate(-10px, -10px);
    }

    100% {
        transform: translate(0, 0);
    }
  }

  .projects-icon__3 {
    -webkit-animation: projects-icon__3 5s ease-out infinite;
            animation: projects-icon__3 5s ease-out infinite;
    transform-origin: 70% 70%;
  }

  @-webkit-keyframes projects-icon__4 {
    0% {
        transform: rotate(0deg);
        transform: skew(0deg);
    }

    89% {
        transform: rotate(0deg);
        transform: skew(0deg);
    }

    90% {
        transform: rotate(4deg);
        transform: skew(-4deg);
    }

    91% {
        transform: rotate(-4deg);
        transform: skew(4deg);
    }

    92% {
        transform: rotate(4deg);
        transform: skew(-4deg);
    }

    93% {
        transform: rotate(-4deg);
        transform: skew(4deg);
    }

    94% {
        transform: rotate(4deg);
        transform: skew(-4deg);
    }


    100% {
        transform: rotate(0deg);
        transform: skew(0deg);
    }
  }

  @keyframes projects-icon__4 {
    0% {
        transform: rotate(0deg);
        transform: skew(0deg);
    }

    89% {
        transform: rotate(0deg);
        transform: skew(0deg);
    }

    90% {
        transform: rotate(4deg);
        transform: skew(-4deg);
    }

    91% {
        transform: rotate(-4deg);
        transform: skew(4deg);
    }

    92% {
        transform: rotate(4deg);
        transform: skew(-4deg);
    }

    93% {
        transform: rotate(-4deg);
        transform: skew(4deg);
    }

    94% {
        transform: rotate(4deg);
        transform: skew(-4deg);
    }


    100% {
        transform: rotate(0deg);
        transform: skew(0deg);
    }
  }

  .projects-icon__4 {
    -webkit-animation: projects-icon__4 5s  linear infinite;
            animation: projects-icon__4 5s  linear infinite;
    transform-origin: 70% 70%;
  }



  .knowledge-icon__1 {
    -webkit-animation: knowledge-icon__1 8s linear infinite;
            animation: knowledge-icon__1 8s linear infinite;
    position: relative;
  }

  @-webkit-keyframes knowledge-icon__1 {
      0%,20% {
        transform: translate(0, 0);
      }
      21%, 22% {
          transform: translate(0, 10px);
      }
      23%, 50% {
          transform: translate(0, 10px);
      }
      51%, 52% {
          transform: translate(10px, 10px);
      }
      53%, 75% {
          transform: translate(10px, 10px);
      }
      76%, 77% {
          transform: translate(10px, 0);
      }
      78%, 98% {
          transform: translate(10px, 0);
      }
      99%, 100% {
          transform: translate(0, 0);
      }
  }

  @keyframes knowledge-icon__1 {
      0%,20% {
        transform: translate(0, 0);
      }
      21%, 22% {
          transform: translate(0, 10px);
      }
      23%, 50% {
          transform: translate(0, 10px);
      }
      51%, 52% {
          transform: translate(10px, 10px);
      }
      53%, 75% {
          transform: translate(10px, 10px);
      }
      76%, 77% {
          transform: translate(10px, 0);
      }
      78%, 98% {
          transform: translate(10px, 0);
      }
      99%, 100% {
          transform: translate(0, 0);
      }
  }

  .knowledge-icon__2 {
    -webkit-animation: knowledge-icon__2 12s linear infinite;
            animation: knowledge-icon__2 12s linear infinite;
    position: relative;
  }

  @-webkit-keyframes knowledge-icon__2 {
      0%,20% {
        transform: translate(0, 0);
      }
      21%, 22% {
          transform: translate(-10px, 0);
      }
      23%, 50% {
          transform: translate(-10px, 0);
      }
      51%, 52% {
          transform: translate(-10px, -10px);
      }
      53%, 75% {
          transform: translate(-10px, -10px);
      }
      76%, 77% {
        transform: translate(0, -10px);
      }
      78%, 98% {
        transform: translate(0, -10px);
      }
      99%, 100% {
          transform: translate(0, 0);
      }
  }

  @keyframes knowledge-icon__2 {
      0%,20% {
        transform: translate(0, 0);
      }
      21%, 22% {
          transform: translate(-10px, 0);
      }
      23%, 50% {
          transform: translate(-10px, 0);
      }
      51%, 52% {
          transform: translate(-10px, -10px);
      }
      53%, 75% {
          transform: translate(-10px, -10px);
      }
      76%, 77% {
        transform: translate(0, -10px);
      }
      78%, 98% {
        transform: translate(0, -10px);
      }
      99%, 100% {
          transform: translate(0, 0);
      }
  }

  .knowledge-icon__3 {
    -webkit-animation: knowledge-icon__3 12s backwards infinite;
            animation: knowledge-icon__3 12s backwards infinite;
    position: relative;
    transform-origin: 50%;
  }

  @-webkit-keyframes knowledge-icon__3 {
    0%, 49% {
      transform: rotate(0deg);
    }
    50%, 51%{
      transform: rotate(4deg);
    }
    52%, 78% {
       transform: rotate(4deg);
     }
    79%, 80% {
      transform: rotate(0deg);
    }
    81%, 100% {
        transform: rotate(0deg);
    }
  }

  @keyframes knowledge-icon__3 {
    0%, 49% {
      transform: rotate(0deg);
    }
    50%, 51%{
      transform: rotate(4deg);
    }
    52%, 78% {
       transform: rotate(4deg);
     }
    79%, 80% {
      transform: rotate(0deg);
    }
    81%, 100% {
        transform: rotate(0deg);
    }
  }

  .knowledge-icon__4 {
    -webkit-animation: knowledge-icon__4 12s infinite;
            animation: knowledge-icon__4 12s infinite;
    position: relative;
    transform-origin: 50%;
  }

  @-webkit-keyframes knowledge-icon__4 {
    0%, 49% {
      transform: rotate(0deg);
    }
    51% {
      transform: rotate(12deg);
    }
    78%{
      transform: rotate(4deg);
    }
    100%{
      transform: rotate(0deg);
    }

  }

  @keyframes knowledge-icon__4 {
    0%, 49% {
      transform: rotate(0deg);
    }
    51% {
      transform: rotate(12deg);
    }
    78%{
      transform: rotate(4deg);
    }
    100%{
      transform: rotate(0deg);
    }

  }

  .portfolio-icon__1 {
    -webkit-animation: portfolio-icon__1 6s linear infinite;
            animation: portfolio-icon__1 6s linear infinite;
    transform-origin: 40%;
  }

  @-webkit-keyframes portfolio-icon__1 {
      0% {
        transform: rotate(0deg);
      }

      35% {
        transform: rotate(0deg);
      }

      40% {
        transform: rotate(20deg);
      }

      60% {
        transform: rotate(20deg);
      }

      65% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(0deg);
      }
  }

  @keyframes portfolio-icon__1 {
      0% {
        transform: rotate(0deg);
      }

      35% {
        transform: rotate(0deg);
      }

      40% {
        transform: rotate(20deg);
      }

      60% {
        transform: rotate(20deg);
      }

      65% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(0deg);
      }
  }

  .portfolio-icon__2 {
    -webkit-animation: portfolio-icon__2 6s linear infinite;
            animation: portfolio-icon__2 6s linear infinite;
    transform-origin: 50%;
  }

  @-webkit-keyframes portfolio-icon__2 {
      0% {
        transform: scale(1);
      }

      40% {
        transform: scale(1);
      }

      45% {
        transform: scale(1.02);
      }

      50% {
        transform: scale(1);
      }

      55% {
        transform: scale(1.02);
      }

      60% {
        transform: scale(1);
      }

      100% {
        transform: scale(1);
      }
  }

  @keyframes portfolio-icon__2 {
      0% {
        transform: scale(1);
      }

      40% {
        transform: scale(1);
      }

      45% {
        transform: scale(1.02);
      }

      50% {
        transform: scale(1);
      }

      55% {
        transform: scale(1.02);
      }

      60% {
        transform: scale(1);
      }

      100% {
        transform: scale(1);
      }
  }

  .journal-icon__1 {
    -webkit-animation: journal-icon__1 8s linear infinite;
            animation: journal-icon__1 8s linear infinite;
    transform-origin: 100%;
  }

  @-webkit-keyframes journal-icon__1 {
    0% {
      transform: translate(0);
    }

    30% {
      transform: translate(0);
    }
    31% {
      transform: translate(20px, 50px) rotate(12deg);
    }

    40% {
      transform: translate(20px, 50px) rotate(12deg);
    }
    41% {
      transform: translate(30px, 120px) rotate(26deg);
    }

    50% {
      transform: translate(30px, 120px) rotate(26deg);
    }
    51% {
      transform: translate(15px, 215px) rotate(46deg);
    }

    98% {
      transform: translate(15px, 215px) rotate(46deg);
    }
    99% {
      transform: translate(30px, 25px) rotate(12deg);
    }
    100% {
      transform: translate(0);
    }
  }

  @keyframes journal-icon__1 {
    0% {
      transform: translate(0);
    }

    30% {
      transform: translate(0);
    }
    31% {
      transform: translate(20px, 50px) rotate(12deg);
    }

    40% {
      transform: translate(20px, 50px) rotate(12deg);
    }
    41% {
      transform: translate(30px, 120px) rotate(26deg);
    }

    50% {
      transform: translate(30px, 120px) rotate(26deg);
    }
    51% {
      transform: translate(15px, 215px) rotate(46deg);
    }

    98% {
      transform: translate(15px, 215px) rotate(46deg);
    }
    99% {
      transform: translate(30px, 25px) rotate(12deg);
    }
    100% {
      transform: translate(0);
    }
  }

  .journal-icon__2 {
    -webkit-animation: journal-icon__2 8s linear infinite;
            animation: journal-icon__2 8s linear infinite;
  }

  @-webkit-keyframes journal-icon__2 {
    0% {
      transform: translate(0);
    }

    97% {
      transform: translate(0);
    }
    98% {
      transform: skew(4deg, 4deg);
      transform-origin: 100%;
    }
    99% {
      transform: skew(-4deg, -4deg);
      transform-origin: 100%;

    }
    100% {
      transform: translate(0);
    }
  }

  @keyframes journal-icon__2 {
    0% {
      transform: translate(0);
    }

    97% {
      transform: translate(0);
    }
    98% {
      transform: skew(4deg, 4deg);
      transform-origin: 100%;
    }
    99% {
      transform: skew(-4deg, -4deg);
      transform-origin: 100%;

    }
    100% {
      transform: translate(0);
    }
  }

  .about-icon__1 {
    -webkit-animation: about-icon__1 8s linear infinite;
            animation: about-icon__1 8s linear infinite;
  }

  @-webkit-keyframes about-icon__1 {
    0% {
      transform: translate(0, 5px);
    }

    12.5% {
      transform: translate(-15px, 0);
    }

    25% {
      transform: translate(0px, 5px);
    }

    37.5% {
      transform: translate(15px, 0px);
    }

    45% {
      transform: translate(0, -18px);
    }

    65% {
      transform: translate(0, -18px);
    }

    75% {
      transform: translate(0, 5px);
    }

    87.5% {
      transform: translate(15px, 0px);
    }

    100% {
      transform: translate(0, 5px);
    }
  }

  @keyframes about-icon__1 {
    0% {
      transform: translate(0, 5px);
    }

    12.5% {
      transform: translate(-15px, 0);
    }

    25% {
      transform: translate(0px, 5px);
    }

    37.5% {
      transform: translate(15px, 0px);
    }

    45% {
      transform: translate(0, -18px);
    }

    65% {
      transform: translate(0, -18px);
    }

    75% {
      transform: translate(0, 5px);
    }

    87.5% {
      transform: translate(15px, 0px);
    }

    100% {
      transform: translate(0, 5px);
    }
  }

  .about-icon__2 {
    -webkit-animation: about-icon__2 4s linear infinite;
            animation: about-icon__2 4s linear infinite;
  }

  @-webkit-keyframes about-icon__2 {
    0% {
      transform: translate(0);
    }

    25% {
      transform: translate(-40px);
    }

    50% {
      transform: translate(0px);
    }

    75% {
      transform: translate(40px);
    }

    100% {
      transform: translate(0);
    }

  }

  @keyframes about-icon__2 {
    0% {
      transform: translate(0);
    }

    25% {
      transform: translate(-40px);
    }

    50% {
      transform: translate(0px);
    }

    75% {
      transform: translate(40px);
    }

    100% {
      transform: translate(0);
    }

  }
} 
:root {
    /* GLOBAL SCALES */
    --fluid-min-width: 320;
    --fluid-max-width: 1440;

    /* FLUID SCALES */
    --fluid-screen: 100vw;
    --fluid-bp: calc((var(--fluid-screen) - var(--fluid-min-width) / 16 * 1rem) / (var(--fluid-max-width) - var(--fluid-min-width)));

    /* Base font size, min: 16px, max: 18px */
    --base-font-size: calc(((16 / 16) * 1rem) + (18 - 16) * var(--fluid-bp));

    /* Base line height, min: 24, max: 30*/
    --base-line-height: calc(((24 / 16) * 1rem) + (30 - 24) * var(--fluid-bp));
} 
* {
    scrollbar-color: var(--background) var(--text);
} 
* {
    max-width: 60ch;
} 
html,
body,
div,
header,
nav,
main,
article,
footer,
input,
svg,
label {
    max-width: none;
} 
/*
figure,
figcaption, */ 
img {
    max-width: 100%;
} 
body {
    font-size: var(--base-font-size);
    line-height: var(--base-line-height);
} 
main {
    margin: var(--margin-l);
} 
main > *+* {
    margin-top: var(--margin-s);
} 
fieldset {
    border: none;
    padding: 0;
} 
.visually-hidden {
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
            clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
} 
:root {
    --title-scale-6: clamp(0.90rem, 0.79rem + 0.58vw, 1.31rem);
    --title-scale-5: clamp(1.09rem, 0.93rem + 0.79vw, 1.64rem);
    --title-scale-4: clamp(1.30rem, 1.19rem + 0.55vw, 1.69rem);
    --title-scale-3: clamp(1.56rem, 1.37rem + 0.98vw, 2.25rem);
    --title-scale-2: clamp(1.88rem, 1.55rem + 1.61vw, 3.00rem);
    --title-scale-1: clamp(2.25rem, 1.75rem + 2.50vw, 4.00rem);

    --title-line-height-6: clamp(1.16rem, 1.05rem + 0.51vw, 1.52rem);
    --title-line-height-5: clamp(1.39rem, 1.24rem + 0.73vw, 1.89rem);
    --title-line-height-4: clamp(1.66rem, 1.46rem + 1.01vw, 2.37rem);
    --title-line-height-3: clamp(2.00rem, 1.72rem + 1.38vw, 2.96rem);
    --title-line-height-2: clamp(2.40rem, 2.02rem + 1.86vw, 3.70rem);
    --title-line-height-1: clamp(2.88rem, 2.38rem + 2.50vw, 4.63rem);

    /* TITLES MARGINS VARS */
    /* Minimum size for H1 is 70, maximum is 100 */
    /* Multiply the max by the scale of 0.25 to get subsequent sizes : 100 > 0.75. > 0.5 > 0.25 > 0.125 > 0.0625 */
    --title-margin-6: calc(((4.375 / 16) * 1rem) + (6.25 - 4.375) * var(--fluid-bp));
    --title-margin-5: calc(((8.75 / 16) * 1rem) + (12.5 - 8.75) * var(--fluid-bp));
    --title-margin-4: calc(((17.5 / 16) * 1rem) + (25 - 17.5) * var(--fluid-bp));
    --title-margin-3: calc(((25 / 16) * 1rem) + (50 - 25) * var(--fluid-bp));
    --title-margin-2: calc(((52.5 / 16) * 1rem) + (75 - 52.5) * var(--fluid-bp));
    --title-margin-1: calc(((70 / 16) * 1rem) + (100 - 70) * var(--fluid-bp));
} 
h6 {
    font-size: 0.9rem;
    font-size: var(--title-scale-6);
    line-height: 1.16rem;
    line-height: var(--title-line-height-6);
    margin: 4.37px 0!important;
    margin: var(--title-margin-6) 0 !important;
    max-width: 30ch;
} 
h5 {
    font-size: 1.09rem;
    font-size: var(--title-scale-5);
    line-height: 1.39rem;
    line-height: var(--title-line-height-5);
    margin: 8.75px 0!important;
    margin: var(--title-margin-5) 0 !important;
    max-width: 30ch;
} 
h4 {
    font-size: 1.30rem;
    font-size: var(--title-scale-4);
    line-height: 1.66rem;
    line-height: var(--title-line-height-4);
    margin: 17.5px 0!important;
    margin: var(--title-margin-4) 0 !important;
    max-width: 30ch;
} 
h3 {
    font-size: 1.56rem;
    font-size: var(--title-scale-3);
    line-height: 2.00rem;
    line-height: var(--title-line-height-3);
    margin: 25px 0!important;
    margin: var(--title-margin-3) 0 !important;
    max-width: 30ch;
} 
h2 {
    font-size: 1.88rem;
    font-size: var(--title-scale-2);
    line-height: 2.40rem;
    line-height: var(--title-line-height-2);
    margin: 52.5px 0!important;
    margin: var(--title-margin-2) 0 !important;
    max-width: 30ch;
} 
h1 {
    font-size: 2.25rem;
    font-size: var(--title-scale-1);
    line-height: 2.88rem;
    line-height: var(--title-line-height-1);
    margin: 70px 0!important;
    margin: var(--title-margin-1) 0 !important;
} 
h1,
h2,
h3,
h4,
h5,
h6 {
    display: block;
    font-family: "Editorial New Regular", serif;
    font-weight: 400;
} 
h1:hover a,
h2:hover a,
h3:hover a,
h4:hover a,
h5:hover a,
h6:hover a {
    z-index: 0 !important;
    background: transparent;
} 
a {
    color: black;
    color:var(--text);
    padding:5px 10px;
    margin:-5px -10px;
    transition: 0.25s;
} 
[theme="dark"] a {
    color:var(--accent);
} 
article a {
    padding:0;
    margin:0;
} 
a:hover,
a[target="_blank"]:hover,
a[target="_blank"]:hover:after  {
    color: white;
    color:var(--background);
    background: black;
    background:var(--text);
    transition: 0.25s;
} 
a:active {
    color:var(--background);
    background:var(--accent);
    transition: 0.25s;
} 
a[target="_blank"] {
    position: relative;
} 
a[target="_blank"]:after {
    content: "\2197";
} 
footer a, footer a:hover {
    background-color: transparent;
    color:initial;
} 
code {
    font-family: "IBM Plex Mono", monospace;
    color: black;
    color:var(--text);
    font-size: inherit;
} 
:root {
    /* spacing y for input, 27 is min, 35 is max */
    --spacing-pre-y: calc(((27 / 16) * 1rem) + (35 - 27) * var(--fluid-bp));

     /* spacing x for input,  15 is min, 42 is max */
     --spacing-pre-x: calc(((15 / 16) * 1rem) + (42 - 15) * var(--fluid-bp));
} 
pre {
    background-color: lightgrey;
    background-color:var(--background-dark);
    color: black;
    color: var(--text);
    overflow-x: auto;
    border-radius: var(--radius-sm);
    scrollbar-color: var(--accent) var(--background-dark);
    padding: 27px 15px 54px 15px;
    padding: var(--spacing-pre-y) var(--spacing-pre-x);
    margin:0;
    line-height: 1;
} 
[theme="light"] pre {
    scrollbar-color: var(--background) var(--accent);
} 
ul {
    padding-left:2em;
} 
ul:not([role="list"]) li {
    padding-left: 0.75em;
} 
ul li::marker{
    font-size: var(--base-font-size);
} 
ul li::marker{
    color:var(--border);
} 
ul[role="list"] {
    padding:0;
    margin:0;
} 
ol {
    padding-left:2em;
} 
ol:not([role="list"]) li {
    padding-left: 1em;
} 
ol li::marker{
    font-size: var(--base-font-size);
    font-weight: 500;
} 
ol li::marker{
    color:var(--border);
} 
ol[role="list"] {
    padding:0;
    margin:0;
} 
hr {
    color: var(--text);
    border: 1px solid var(--text);
    margin: 45px 0!important;
    margin: var(--title-margin-2) 0!important;
} 
/* p {
    font-size: var(--base-font-size);
    line-height: var(--base-line-height);
} */ 
:root {

    /* Blockqupote padding x : min 15, max 42 */
    --blockquote-padding-x: calc(((15 / 16) * 1rem) + (42 - 15) * var(--fluid-bp));

    /* Blockqupote padding y : min 23, max 36 */
    --blockquote-padding-y: calc(((23 / 16) * 1rem) + (36 - 23) * var(--fluid-bp));

} 
blockquote {
    color: var(--text);
    padding:  15px 23px;
    padding:var(--blockquote-padding-y) var(--blockquote-padding-x);
} 
blockquote + figcaption {
    color: var(--text);
    padding:  0 15px 23px 23px;
    padding: 0 var(--blockquote-padding-y) var(--blockquote-padding-x) var(--blockquote-padding-x);
} 
[theme="color"] blockquote,
[theme="color"] blockquote + figcaption {
    background-color:var(--accent);
    border-left: 5px solid black;
    border-left: 5px solid var(--text);
} 
[theme="light"] blockquote,
[theme="light"] blockquote + figcaption {
    background-color:var(--grey);
    border-left: 5px solid var(--border);
} 
[theme="dark"] blockquote,
[theme="dark"] blockquote + figcaption {
    background-color:var(--background-dark);
    border-left: 5px solid var(--border);
} 
:root {
    /* Figcaption spacing, min 11, max 16 */
    --figcaption-spacing: calc(((11 / 16) * 1rem) + (16 - 11) * var(--fluid-bp));
} 
figure > picture + figcaption {
    background-color: black;
    background-color: var(--background-dark);
    padding: 11px;
    padding: var(--figcaption-spacing);
    min-width:100%;
    border-bottom-left-radius: var(--radius-sm);
    border-bottom-right-radius: var(--radius-sm);
    box-shadow: var(--background-dark) 0 0 0 2px;
} 
picture img {
    display: block;
    box-shadow: var(--background-dark) 0 0 0 2px;
} 
figure img {
    border-bottom: none;
} 
button {
    min-height: 44px;
    min-width: 120px;
    max-width: 20ch;
    box-shadow:var(--text) 0 0 0 2px;
    background-color: black;
    background-color: var(--text);
    border:none;
    border-radius: var(--radius-sm);
    line-height: 1.5;
    font-weight: 700;
    padding:5px 19px;
    color: white;
    color:var(--accent);
    transition: 0.25s;
} 
button:hover {
    color:var(--text);
    box-shadow:var(--text) 0 0 0 2px;
    background-color: var(--background);
    cursor: pointer;
} 
button:active {
    color:var(--text);
    box-shadow:var(--text) 0 0 0 2px;
    background-color: var(--accent);
    cursor: pointer;
} 
button svg {
    fill:var(--text);
    margin-top: 4px;
} 
[theme="light"] button {
    color:var(--background);
    box-shadow:var(--text) 0 0 0 2px;
    border:none;
} 
[theme="light"] button:hover {
    color:var(--text);
    box-shadow:var(--text) 0 0 0 2px;
    background-color: var(--background);
    cursor: pointer;
} 
[theme="light"] button:active {
    color:var(--text);
    background-color: var(--accent);
    cursor: pointer;
} 
[theme="dark"] button {
    color:var(--background);
    box-shadow:var(--text) 0 0 0 2px;
    border:none;
} 
[theme="dark"] button:hover {
    color:var(--text);
    box-shadow:var(--text) 0 0 0 2px;
    background-color: var(--background);
    cursor: pointer;
} 
[theme="dark"] button:active {
    color:var(--background);
    background-color: var(--accent);
    cursor: pointer;
} 
button[data-secondary] {
    box-shadow:var(--text) 0 0 0 2px;
    background-color: var(--background);
    color:var(--text);
} 
button[data-small] {
    min-height: 24px;
    min-width:unset;
    padding:3px 10px;
    font-weight: 400;
} 
button[data-naked] {
    outline: none;
    border: none;
    background:transparent;
    box-shadow:none;
    color:unset;
    min-height: 24px;
    min-width: 24px;
    padding:0;
    margin:0;
    font-size: inherit;
    font-weight: inherit;
    display: inline-flex;
    justify-content: center;
    align-items: center;
} 
button[data-naked]:hover {
    outline: none;
    border: none;
    background:transparent;
    box-shadow:none;
    color:unset;
    min-height: 24px;
    min-width: 24px;
    padding:0;
    margin:0;
    font-size: inherit;
    font-weight: inherit;
} 
button:focus-visible {
    background-color: var(--focus);
    color: var(--accent);
    box-shadow:var(--text) 0 0 0 2px;
    fill:var(--background);
} 
.collapse {

} 
.collapse > [data-heading] {
    
} 
:root {
     /* padding for form */
    /* 30 is min, 50 is max */
     --padding-form: calc(((30 / 16) * 1rem) + (50 - 30) * var(--fluid-bp));

    /* Margin for input */
    /* 30 is min, 50 is max */
    --margin-input: calc(((30 / 16) * 1rem) + (50 - 30) * var(--fluid-bp));

    /* Margin for label */
    /* 5 is min, 10 is max */
    --margin-label: calc(((5 / 16) * 1rem) + (10 - 5) * var(--fluid-bp));
} 
form {
    border: 1px solid var(--border);
    border-radius: var(--radius-sm);
    background-color: var(--background-dark);
    padding: 30px;
    padding:var(--padding-form);
} 
form .error, form .hint {
    color: var(grey-pitchblack);
} 
form .hint {
    color: var(--text);
    font-style: italic;
} 
form .error {
    color: var(--text);
    font-weight: 600;
} 
form > *+* {
    margin-top:  30px;
    margin-top: var(--margin-input);
} 
form label {
    margin-top: 5px;
    margin-bottom: var(--margin-label);
} 
form .grouped {
    display: flex;
} 
form .grouped > * {
    margin-right: 30px;
    margin-right: var(--margin-l);
} 
:root {
    /* padding y for input */
    /* 3 is min, 5 is max */
    --padding-input-y: calc(((3 / 16) * 1rem) + (5 - 3) * var(--fluid-bp));

     /* padding x for input */
    /* 9 is min, 17 is max */
     --padding-input-x: calc(((9 / 16) * 1rem) + (17 - 9) * var(--fluid-bp));
} 
/* Base styles */ 
input {
    display: block;
    color: var(--text);
    border: none;
    border-radius: var(--radius-sm);
    min-height: 42px;
    padding: 3px 9px;
    padding: var(--padding-input-y) var(--padding-input-x);
    width:1ch;
    background: lightgrey;
    outline: transparent;

} 
[theme="color"] input {
    background-color: var(--accent);
} 
[theme="dark"] input {
    background-color: var(--grey-darker);
} 
[theme="light"] input {
    background-color: var(--white);
} 
/* Focus styles */ 
input:focus {
    box-shadow: var(--border) 0 0 0 2px;
} 
[theme="light"] input:focus {
    box-shadow: var(--text) 0 0 0 2px;
} 
[theme="dark"] input:focus {
    box-shadow: var(--text) 0 0 0 2px;
} 
/* Error styles */ 
input[aria-invalid="true"] {
    background-color: var(--border);
} 
[theme="dark"] input[aria-invalid="true"] {
    background-color: var(--grey-dark);
    color:  var(--background);
} 
[theme="light"] input[aria-invalid="true"]:focus {
    box-shadow: var(--text) 0 0 0 2px;
} 
[theme="dark"] input[aria-invalid="true"]:focus {
    box-shadow: var(--text) 0 0 0 2px;
} 
[theme="color"] input[aria-invalid="true"]:focus {
    box-shadow: var(--background) 0 0 0 2px;
} 
/* Width modifiers */ 
input[data-size="30"] {
    max-width:32.2ch;
    width:100%;
} 
input[data-size="20"] {
    max-width:22.2ch;
    width:100%;
} 
input[data-size="10"] {
    max-width:12.2ch;
    width:100%;
} 
input[data-size="4"] {
    max-width:6.2ch;
    width:100%;
} 
input[data-size="2"] {
    max-width:4.2ch;
    width:100%;
} 
label {
    color: var(--text);
    font-size: var(--base-font-size);
    font-weight: 700;
    display: block;
    line-height: var(--base-line-height);
} 
label .required {
    font-weight: 400;
    font-style: italic;
} 
label[data-fake] {
    font-weight: 400;
} 
legend {
    font-size: var(--base-font-size);
    font-weight: 700;
    display: block;
    line-height: var(--base-line-height);
} 
:root {
    /* padding y for select */
    /* 3 is min, 5 is max */
    --padding-select-y: calc(((3 / 16) * 1rem) + (5 - 3) * var(--fluid-bp));

     /* padding x for select */
    /* 9 is min, 17 is max */
     --padding-select-x: calc(((9 / 16) * 1rem) + (17 - 9) * var(--fluid-bp));
} 
select {
    display: block;
    color: var(--text);
    background-color: var(--grey);
    border: none;
    border-radius: var(--radius-sm);
    height: 42px;
    padding: 9px;
    padding: var(--padding-select-y) var(--padding-select-x);
    outline: transparent;
    width:4ch;
} 
option {
    height: 42px;
} 
select[data-size="30"] {
    width:30ch;
} 
select[data-size="20"] {
    width:20ch;
} 
select[data-size="10"] {
    width:10ch;
} 
select[data-size="5"] {
    width:5ch;
} 
select[data-size="4"] {
    width:4ch;
} 
[theme="dark"] select {
    background-color: var(grey-pitchblack);
} 
/* Focus styles */ 
[theme="color"] select:focus {
    box-shadow: var(grey-pitchblack) 0 0 0 2px;
} 
[theme="light"] select:focus {
    box-shadow: var(--grey-dark) 0 0 0 2px;
} 
[theme="dark"] select:focus {
    box-shadow: var(--grey-darker) 0 0 0 2px;
} 
table {
    width:100%;
    text-align: left;
    padding: 25px;
    padding: var(--margin-s);
    border: 2px solid black;
    border: 2px solid var(--text);
} 
table caption {
    text-align: left;
    font-family: "Editorial New Regular", serif;
    font-weight: 400;
} 
tbody > *, thead > *  {
    border: 2px solid black;
    border-collapse: collapse;
    box-shadow: 0 2px 0 var(--text);
} 
dl {
    background-color: var(--background-dark);
    border-left: 5px solid black;
    border-left: 5px solid var(--border);
    padding: 25px;
    padding: var(--margin-s);
} 
dt {
    font-weight: bold;
} 
dd {
    padding-left: 25px;
    padding-left: var(--margin-s);
} 
dl > dt + dd {
    margin-bottom: 12.5px;
    margin-bottom: calc(var(--margin-s) / 2);
} 
header {
    width: 100%;
    background:var(--background);
    padding: var(--margin-l);
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap:var(--margin-s);
} 
article > *+* {
    margin-top: 25px;
    margin-top: var(--margin-s);
} 
article h1 + figure,
article h1 + picture {
    z-index: -1;
    position: absolute;
    margin:0;
    max-width: 40%;
    right:0;
    border:none!important;
} 
article h1 + picture img {
    border:none!important;
    box-shadow: unset;
    filter: drop-shadow(1px 2px 4px var(--text));
} 
article img, article picture {
    max-width: 60ch;
} 
@media screen and (max-width: 1100px) {
    article h1 + picture,
    article h1 + figure {
        position: relative;
        margin:inherit;
        max-width: 60ch;
        right:unset;
    }
} 
section[role="complementary"] {
    background-color: white;
    background-color: var(--accent);
    width: 100%;
    padding: 0.5em var(--margin-l);
    min-width: 100%;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    z-index: 2;
} 
section[role="complementary"] details {
    min-width: 100%;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: var(--margin-l);
    cursor: pointer;
    justify-items:end;
} 
section[role="complementary"] summary::-webkit-details-marker {
    display:none;
} 
.time-row {
    min-width: 100%;
    display:grid;
    grid-template-columns: 1fr auto;
    gap:0.6em;
} 
section[role="complementary"] details > *+* {
    margin-top: 20px;
    margin-top: var(--margin-l);
} 
.time-row__title {
    font-family: "Editorial New Regular", serif;
} 
details[open] .time-row__second {
    display: none;
} 
dl.time-row-more {
    min-width: 100%;
    display:grid;
    grid-template-columns: auto 1fr;
    text-align: left;
    justify-items: start;
    gap:0.6em;
    background-color: var(--accent);
    border-left: 5px solid var(--text);
} 
.time-row-more dt,
.time-row-more dd {
    margin:0;
    padding:0;
} 
.time-row-more dt {
    display: flex;
    width:100%;
    justify-content: space-between;
} 
.time-row-more dt span {
    margin-left: var(--margin-s);

} 
@media screen and (max-width:640px) {
    section[role="complementary"] {
        position: static;
    }

    .time-row {
        grid-template-columns: 1fr;
    }

    .time-row {
        justify-items:start;
    }

} 
[theme="dark"] section[role="complementary"]  {
    color:var(--background);
} 
.nav--main {
    top:var(--margin-l);
} 
.nav--main ul {
    display:flex;
    flex-flow: row wrap;
    justify-content:flex-end;
    align-items: center;
    gap: 5px 20px;
} 
.nav--main a {
    text-decoration:none;
    font-size: 18px;
} 
[theme="dark"] .nav--main a  {
    color: var(--accent);
} 
.nav--secondary {
    margin: var(--margin-l);
} 
.nav--secondary ul {
    display:flex;
    flex-flow: row wrap;
    gap: 5px 15px;
} 
.nav--secondary li {
    height: auto;
} 
.nav--secondary a {
    display: block;
    height: 3em;
} 
.nav--secondary svg {
    display: block;
    height: 100%;
} 
.nav--secondary a:hover {
    background-color: transparent;
} 
nav[role="breadcrumb"] {
    top:0;
    margin: 0 var(--margin-l);
    padding-left: 0;
    background-color: var(--background);
    z-index: 1;
    font-size: var(--base-font-size);
    display: inline;
} 
[theme="dark"] nav[role="breadcrumb"] {
    color:var(--accent);
} 
[hidden].accessibility-menu {
    display: none;
} 
.accessibility-menu {
    background-color: var(--background);
    position: absolute;
    transform: translateX(-50%);
    padding:var(--margin-s);
    min-width: 280px;
    margin-top: 2px;
    border:2px solid var(--text);
    z-index: 1;
} 
.accessibility-menu__sub {
    display: flex;
    flex-wrap: wrap;
} 
.accessibility-menu__sub > * {
    margin-right: 10px;
} 
.accessibility-menu div button {
    display: block;
    margin-top:10px;
} 
[anim="false"] * {
    -webkit-animation: none!important;
            animation: none!important;
} 
.flow > *+* {
    margin-top: var(--margin-s);
}