html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: monospace;
  background: #222;
  color: white;
  display: flex;
}

@media (max-width: 600px) {
  body {
    display: initial;
  }
}
img {
  max-width: 100%;
}

main {
  margin: 0 auto;
  width: 100%;
}

ol,
ul {
  display: inline-block;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 1rem;
}

li a {
  font-size: 1.6rem;
}

header {
  padding: 2rem;
  min-width: 10rem;
}

a {
  color: white;
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.main-image {
  z-index: 1;
  object-fit: cover;
  max-height: 80vh;
  max-width: 100%;
}

.breadcrumb {
  margin: 2rem;
}

article {
  max-width: 500px;
  padding: 0 4rem 2rem 4rem;
}

body::after {
  animation: grain 8s steps(10) infinite;
  background-image: url("noise.png");
  content: "";
  height: 300%;
  left: -50%;
  opacity: 1;
  position: fixed;
  top: -100%;
  width: 300%;
  z-index: 1;
}

h1,
h2,
h3,
p,
ol,
ul,
li,
a,
img {
  z-index: 2;
  position: relative;
}

@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}
