:root {
  --text: black;
  --background: white;
  --link: #111;
  --visited: #333;
  --hover: #555;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: white;
    --background: black;
    --link: #f0f0f0;
    --visited: #d0d0d0;
    --hover: #e0e0e0;
  }

  header svg,
  footer svg,
  footer img {
    filter: invert(100%);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --text: black;
    --background: white;
    --link: #111;
    --visited: #333;
    --hover: #555;
  }
}

html {
  font-size: 10px;
  /* font-size: 2.4vw;
  font-size: 10px; */
}

body {
  padding: 0;
  font-size: 1.8rem;
  font-variant-numeric: oldstyle-nums;
  background-color: var(--background);
  color: var(--text);
  margin: 30px auto;
  padding: 0 10px;
  font-family: serif;
  line-height: 1.4;
  hyphens: auto;
}


a {
  color: var(--link);
}

a:visited {
  color: var(--visited);
}

a:hover {
  color: var(--hover);
}

p {
  margin-bottom: 1em;
}

img {
  max-width: 100%;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  background-color: initial;
}

h1 {
  font-size: 3.2rem;
}

header {
  height: 90px;
  display: flex;
  max-width: 540px;
  margin: auto;
}

pre {
  background: var(--text);
  white-space: pre-wrap;
  padding: 10px;

}

code {
  background: var(--text);
  color: var(--background);
  font-size: 1.6rem;
  padding: 1px 2px;

}

ul {
  padding: 0 0 0 16px;
}

nav {
  max-width: 540px;
  margin: 10px auto;
}

footer nav,
footer aside {
  margin: 10px 0;
}

article {
  max-width: 540px;
  margin: auto;
}

.full {
  max-width: 100vw;
}

.full .time-graph {
  margin-left: auto;
  margin-right: auto;
}

.full>*:not(.time-graph-container) {
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
}

.time-graph-container h3 {
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  padding-left: 3em;
  margin: 0;
  font-size: 0.95em;
  line-height: 1.3;
}

blockquote footer {
  margin: 1em;
}

footer {
  margin: 30px auto;
  max-width: 540px;
  display: flex;
  justify-content: space-between;
}

footer aside {
  line-height: 1;
  font-size: 13px;

}

footer aside p {
  margin: 0;
  padding: 0;
}

footer ul {
  margin: 0;
}

.footer-nav {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.footer-nav li {
  height: 20px;
  width: 20px;
  margin: 5px;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.time-graph {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, 25px);
  grid-gap: 3px;
  border-collapse: collapse;
  font-variant-numeric: oldstyle-nums;
  justify-content: center;
}

.time-graph__text {
  align-self: flex-end;
  margin: 10px 0;
}

.time-graph__hours {
  background: var(--background);
  color: var(--text);
  padding: 1px 3px 0 1px;
  font-weight: 800;
  letter-spacing: -2px;
  font-family: monospace;

}

.time-graph ul,
.time-graph li {
  list-style: none;
}

.time-graph__week {
  width: 100%;
  margin: 10px 0;
  padding: 0;
  display: flex;
  flex-flow: column-reverse nowrap;
  flex: 1 1 auto;
}

.time-graph__activity {
  margin: 1.5px;
  padding: 0;
  box-shadow: 0 0 0 1px var(--text);
  font-size: 1.2rem;
  line-height: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}

.time-graph__tooltip {
  display: none;
}

.time-graph__activity:hover>.time-graph__tooltip {
  margin-top: 15px;
  margin-left: 50%;
  background-color: var(--background);
  display: block;
  padding: 5px;
  position: absolute;
  border: 1px solid var(--text);
  z-index: 1;
}

.time-graph__legend-list {
  margin: 10px auto 20px auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0;
}

.time-graph__legend {
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
  margin: 5px 10px;
}

.time-graph__legend-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 5px 0;
  font-size: 1.2rem;
  font-family: monospace;
}

.time-graph__value {
  margin-left: 2px;
  margin-right: 20px;
}

.time-graph__definition {
  padding-top: 2px;
  white-space: nowrap;
}

.time-graph__pattern {
  height: 15px;
  min-width: 15px;
  border: 1px solid var(--text);
  display: inline-block;
  margin-right: 4px;
}


/* Code examples for html tips*/
.code-example {
  background: var(--background);
  border: 1px solid var(--text);
  margin-bottom: 30px;
  min-height: 70px;
}

.code-example-value {
  display: inline;
  background: var(--background);
  color: var(--text);
  padding: 1px 5px 0 5px;
  font-weight: 800;
  letter-spacing: -2px;
  font-family: monospace;
  font-size: 1.4rem;
}

.code-example-children {
  height: 40px;
  width: 40px;
  border: 1px solid var(--text);
}

.code-example-children-grid {
  border: 1px solid var(--text);
}

.code-example-grid-star {
  display: grid;

  grid-template-areas:
    "lefttop . righttop"
    ". center . "
    "leftbottom . rightbottom";
}

.pattern-demo {
  width: 100%;
  height: 200px;
  border: 1px solid var(--text);
}


/* Patterns collection */
.pattern-checks {
  background-image: linear-gradient(45deg, white 25%, transparent 25%), linear-gradient(-45deg, white 25%, transparent 25%), linear-gradient(45deg, transparent 75%, white 75%), linear-gradient(-45deg, black 75%, white 75%);
  background-size: 10px 10px;
  background-position: 0 0, 0 5px, 5px -5px, -5px 0px;
}

.pattern-grid {
  background-image: linear-gradient(currentColor 1px, transparent 1px), linear-gradient(to right, currentColor 1px, transparent 1px);
  background-size: 4px 4px;
  background-position: -1px;
}

.pattern-grid--medium {
  background-image: linear-gradient(currentColor 1px, transparent 1px), linear-gradient(to right, currentColor 1px, transparent 1px);
  background-size: 12px 12px;
  background-position: -1px;
}

.pattern-dots {
  background-image: radial-gradient(currentColor .25px, transparent .25px);
  background-size: calc(5 * .3px) calc(5 * .3px)
}

.pattern-cross-dots {
  background-image: radial-gradient(currentColor 1px, transparent 1px), radial-gradient(currentColor 1px, transparent 1px);
  background-size: calc(4 * 1px) calc(4 * 1px);
  background-position: 0 0, calc(2 * 1px) calc(2 * 1px)
}

.pattern-vertical-lines {
  background-image: repeating-linear-gradient(to right, currentColor, currentColor 1px, transparent 1px, transparent);
  background-size: 4px 4px
}

.pattern-horizontal-lines {
  background-image: repeating-linear-gradient(0deg, currentColor, currentColor 1px, transparent 1px, transparent);
  background-size: 4px 4px
}

.pattern-diagonal-lines--left {
  background-image: repeating-linear-gradient(45deg, currentColor 0, currentColor 1px, transparent 0, transparent 50%);
  background-size: 6px 6px
}

.pattern-diagonal-lines--right {
  background-image: repeating-linear-gradient(-45deg, currentColor 0, currentColor 1px, transparent 0, transparent 50%);
  background-size: 6px 6px
}

.pattern-vertical-stripes {
  background-image: linear-gradient(90deg, transparent 50%, currentColor 50%);
  background-size: 6px 6px;
  background-position: -2px;
}

.pattern-horizontal-stripes {
  background-image: linear-gradient(0deg, transparent 50%, currentColor 50%);
  background-size: 8px 8px
}

.pattern-diagonal-stripes--left {
  background: repeating-linear-gradient(45deg, transparent, transparent 4px, currentColor 4px, currentColor calc(2 * 4px))
}

.pattern-diagonal-stripes--right {
  background: repeating-linear-gradient(-45deg, transparent, transparent 4px, currentColor 4px, currentColor calc(2 * 4px))
}

.pattern-zigzag {
  background: linear-gradient(135deg, currentColor 25%, transparent 25%) -5px 0, linear-gradient(225deg, currentColor 25%, transparent 25%) -5px 0, linear-gradient(315deg, currentColor 25%, transparent 25%), linear-gradient(45deg, currentColor 25%, transparent 25%);
  background-size: calc(2 * 5px) calc(2 * 5px)
}

.pattern-triangles {
  background-image: linear-gradient(45deg, currentColor 50%, transparent 50%);
  background-size: 8px 8px;
}


.pattern-double-diagonal-stripes {
  background-image: repeating-linear-gradient(-45deg, transparent, transparent 5px, white 5px, white 50%), repeating-linear-gradient(45deg, black, black 5px, gray 5px, gray 50%);
  background-size: 13px 13px;
}


.pattern-quarter-circles {
  background-image: radial-gradient(ellipse farthest-corner at 11px 11px, currentColor, currentColor 50%, transparent 50%);
  background-size: 12px 12px;
}


.pattern-seigaiha {
  background-color: black;
  background-image: radial-gradient(circle at 100% 150%, black 25%, white 25%, white 29%, black 29%, black 36%, white 36%, white 40%, transparent 40%, transparent), radial-gradient(circle at 0 150%, black 25%, white 25%, white 29%, black 29%, black 36%, white 36%, white 40%, transparent 40%, transparent), radial-gradient(circle at 50% 100%, white 10%, black 10%, black 23%, white 23%, white 30%, black 30%, black 43%, white 43%, white 50%, black 50%, black 63%, white 63%, white 70%, transparent 70%, transparent), radial-gradient(circle at 100% 50%, white 5%, black 5%, black 15%, white 15%, white 20%, black 20%, black 30%, white 30%, white 35%, black 35%, black 45%, white 45%, white 50%, transparent 50%, transparent), radial-gradient(circle at 0 50%, white 5%, black 5%, black 15%, white 15%, white 20%, black 20%, black 30%, white 30%, white 35%, black 35%, black 45%, white 45%, white 50%, transparent 50%, transparent);
  background-size: 30px 15px;
}

.pattern-checks-diagonal {
  background-color: transparent;
  background-image: linear-gradient(45deg, currentcolor 25%, transparent 25%, transparent 75%, currentcolor 75%, currentcolor), linear-gradient(-45deg, currentcolor 25%, transparent 25%, transparent 75%, currentcolor 75%, currentcolor);
  background-size: 11px 11px;
}

.pattern-grey-lines {
  background-color: white;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, .5) 50%, transparent 50%),
    linear-gradient(rgba(0, 0, 0, .5) 50%, transparent 50%);
  background-size: 8px 8px;
}

.pattern-wave {
  background-image: radial-gradient(circle at center top, transparent, transparent 4px, currentcolor 4px, currentcolor 5px, transparent 5px, transparent), radial-gradient(circle at right bottom, transparent, transparent 4px, currentcolor 4px, currentcolor 5px, transparent 5px, transparent), radial-gradient(circle at left bottom, transparent, transparent 4px, currentcolor 4px, currentcolor 5px, transparent 5px, transparent);
  background-size: 20px 10px;
}

.pattern-yin-yang {
  background:
    radial-gradient(circle at 50% 59%, white 3%, black 4%, black 11%, rgba(54, 78, 39, 0) 12%, rgba(54, 78, 39, 0)) 50px 0,
    radial-gradient(circle at 50% 41%, black 3%, currentcolor 4%, currentcolor 11%, rgba(210, 202, 171, 0) 12%, rgba(210, 202, 171, 0)) 50px 0,
    radial-gradient(circle at 50% 59%, currentcolor 3%, black 4%, black 11%, rgba(54, 78, 39, 0) 12%, rgba(54, 78, 39, 0)) 0 50px,
    radial-gradient(circle at 50% 41%, black 3%, currentcolor 4%, currentcolor 11%, rgba(210, 202, 171, 0) 12%, rgba(210, 202, 171, 0)) 0 50px,
    radial-gradient(circle at 100% 50%, currentcolor 16%, rgba(210, 202, 171, 0) 17%),
    radial-gradient(circle at 0% 50%, black 16%, rgba(54, 78, 39, 0) 17%),
    radial-gradient(circle at 100% 50%, currentcolor 16%, rgba(210, 202, 171, 0) 17%) 50px 50px,
    radial-gradient(circle at 0% 50%, black 16%, rgba(54, 78, 39, 0) 17%) 50px 50px;
  background-color: grey;
  background-size: 20px 21px;
}

.pattern-circles {
  opacity: 1;
  background-image: radial-gradient(circle at center center, transparent, currentColor), repeating-radial-gradient(circle at center center, black, black, 4px, transparent 8px, transparent 4px);
  background-blend-mode: hue;
}

.pattern-isometric-cubes {
  background-color: white;
  opacity: 1;
  background-image: linear-gradient(30deg, black 12%, transparent 12.5%, transparent 87%, black 87.5%, black), linear-gradient(150deg, black 12%, transparent 12.5%, transparent 87%, black 87.5%, black), linear-gradient(30deg, black 12%, transparent 12.5%, transparent 87%, black 87.5%, black), linear-gradient(150deg, black 12%, transparent 12.5%, transparent 87%, black 87.5%, black), linear-gradient(60deg, grey 25%, transparent 25.5%, transparent 75%, grey 75%, grey), linear-gradient(60deg, grey 25%, transparent 25.5%, transparent 75%, grey 75%, grey);
  background-size: 14px 24px;
  background-position: 0 0, 0 0, 7px 12px, 7px 12px, 0 0, 7px 12px;
}

.pattern-crosses {
  background-color: white;
  opacity: 1;
  background: radial-gradient(circle, transparent 20%, currentColor 20%, currentColor 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, currentColor 20%, currentColor 80%, transparent 80%, transparent) 15px 15px, linear-gradient(black 1.2px, transparent 1.2px) 0 -0.6px, linear-gradient(90deg, black 1.2px, currentColor 1.2px) -0.6px 0;
  background-size: 30px 30px, 30px 30px, 15px 15px, 15px 15px;
}

.pattern-paper {
  background-color: white;
  opacity: 1;
  background-image: linear-gradient(black 1.6px, transparent 1.6px), linear-gradient(90deg, black 1.6px, transparent 1.6px), linear-gradient(black 0.8px, transparent 0.8px), linear-gradient(90deg, black 0.8px, white 0.8px);
  background-size: 20px 20px, 20px 20px, 4px 4px, 4px 4px;
  background-position: -1.6px -1.6px, -1.6px -1.6px, -0.8px -0.8px, -0.8px -0.8px;
}

.pattern-zigzag--3d {
  background-color: white;
  opacity: 1;
  background: linear-gradient(135deg, grey 25%, transparent 25%) -8px 0/ 16px 16px, linear-gradient(225deg, black 25%, transparent 25%) -8px 0/ 16px 16px, linear-gradient(315deg, grey 25%, transparent 25%) 0px 0/ 16px 16px, linear-gradient(45deg, black 25%, white 25%) 0px 0/ 16px 16px;
}



@media (max-width: 600px) {
  body {
    margin: 10px;
  }

  header {
    height: 50px;
  }
}