dl {
    background-color: var(--background-dark);
    border-left: 5px solid black;
    border-left: 5px solid var(--border);
    padding: 25px;
    padding: var(--margin-s);
}

dt {
    font-weight: 600;
}

dd {
    padding-left: 25px;
    padding-left: var(--margin-s);
}

dl>dd+dt {
    margin-top: 12.5px;
    margin-top: calc(var(--margin-l) / 2);
}
