.nav--main {
    top:var(--margin-l);
}

.nav--main ul {
    display:flex;
    flex-flow: row wrap;
    justify-content:flex-end;
    align-items: center;
    gap: 5px 20px;
}

.nav--main a {
    text-decoration:none;
    font-size: 18px;
}

[theme="dark"] .nav--main a  {
    color: var(--accent);
}