<article>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat eveniet ducimus perferendis officiis ipsa quia natus sequi est saepe corporis porro, fuga dolorem deserunt magni, distinctio rem nihil sapiente voluptatum.
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita recusandae quod odio a veniam possimus illo quasi vel voluptatibus similique iusto, saepe adipisci ipsa minus quas nostrum dolor repudiandae deleniti?
    </p>
</article>