<p style="border-radius: var(--radius-sm);">Radius small</p>
<p style="border-radius: var(--radius-md);">Radius medium</p>

<style>
    p {
        padding:10px;
        margin:10px;
        border:1px solid;
    }
</style>