<div class="collapse">
    <h2 data-trigger="true">This is the heading</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque reiciendis ullam laudantium dignissimos, voluptate
        labore eos id eveniet unde, suscipit quae perspiciatis nemo consectetur ea impedit optio necessitatibus ratione
        ipsum!</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque reiciendis ullam laudantium dignissimos, voluptate
        labore eos id eveniet unde, suscipit quae perspiciatis nemo consectetur ea impedit optio necessitatibus ratione
        ipsum!</p>


    <h2 data-trigger="true">Another heading</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque reiciendis ullam laudantium dignissimos, voluptate
        labore eos id eveniet unde, suscipit quae perspiciatis nemo consectetur ea impedit optio necessitatibus ratione
        ipsum!</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque reiciendis ullam laudantium dignissimos, voluptate
        labore eos id eveniet unde, suscipit quae perspiciatis nemo consectetur ea impedit optio necessitatibus ratione
        ipsum!</p>
</div>