<div style="padding:var(--margin-l); border:1px solid black;">
    This is a large margin/padding
</div>

<div style="padding:var(--margin-s); border:1px solid black;">
    This is a small margin/padding
</div>